<div class="container" id="ab" >

  <div class="row m-4">
        <h1><%= locker.name %></h1>
      </div>

      <div class="container row m-2">
        <div class="container row m-2">
        
        <span class="m-2 col-4" >
            <figure  class="figure m-2">
                <img  width="350" src="/images/locker1.jpg" class="img-fluid rounded" alt="locker">
                <figcaption class="h5 m-3">Jameson lockers, Toronto</figcaption>
            </figure>
        </span>

        <span class="m-2 col-6 " >
          <figure  class="figure m-2">
          <h4 class="h4">Address : <%= locker.address %></h4>
          <h4 class="h4"> Price : <%= locker.price %> $CAD</h4>
          <h4 class="h4"> Size :  <%= locker.size %></h4>
          <h4 class="h4"> Description : <%= locker.description %></h4>
        </figure>
        </span>
      </div>
        

    </div>

  </div>
