<div class="container" id="ab" >

    <h1><%= locker.name %></h1>
    <div>
      
      <figure  class="figure">
        <img  height="295"width="400" src="images/<%= locker.img %>" class="figure-img img-fluid rounded" alt="locker">
        <figcaption class="figure-caption">Jameson lockers, Toronto</figcaption>
    </figure>
    </div>
    
    <h1>Uploaded Images</h1>

    <h1><%= locker.name %></h1>
    <h1><%= locker.img %></h1>
    <div>
      
      
    </div>
    
    <h1>Uploaded Images</h1>


    <div id="float">
      <h3><%= locker.address %></h3>
      <h3><%= locker.price %></h3>
      <h3><%= locker.size %></h3>
      <h3><%= locker.description %></h3>

    </div>
  </div>
